@use "../constants" as *;
@use "../common/header";
@use "../mixins" as *;


.barnav {
  &-root {
    display: flex;
    column-gap: 0.6rem;

    padding-right: 2rem;

    overflow-x: auto;
    @include no-scrollbar();
  }

  &-entry {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
    flex-shrink: 0;

    width: auto;
    padding: 0.4rem 1rem;

    --background: #fff;
    background-color: var(--background);
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
      --background: #fafafa;
    }

    &._selected {
      --background: #eee;
      border-color: #ddd;
    }

    &:not(._selected, :hover) {
      color: #666;
    }

    &:disabled {
      color: #bbb;
    }
  }

  &-icon {
    display: flex;
  }

  &-label {
    font-weight: 500;
  }
}


.blayout {
  &-container {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &-header {
    @extend .header, .header--1;

    margin-bottom: 0;
    padding-bottom: 1rem;

    border-bottom: 3px solid #eee;
  }

  &-contents {
    margin: 1rem 2rem;
  }

  &-blank {
    &-outer {
      display: flex;
      height: 100%;
    }

    &-inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 0.4rem;

      margin: auto;

      p {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}
