@use "../constants" as *;


.geditor {
  &-root {
    --cell-size: 30px;
    --node-header-height: 40px;
    --node-padding: 10px;

    // nodePadding + nodeHeaderHeight * 0.5 == cellSize
  }

  &-svg {
    background-color: #f1f1f1;
    overflow: visible;
  }


  &-nodeobject {
    padding: var(--node-padding);
  }

  &-node {
    display: grid;
    grid-template-rows: var(--node-header-height) 1fr;
    height: 100%;

    background-color: #fff;
    border: 0px solid $app-blue;
    border-radius: 6px;
    box-shadow: 2px 3px 2px #0001;
  }


  &-header {
    display: flex;
    align-items: center;

    padding: 0 1.6rem;
    border-bottom: 1px solid #ddd;
  }

  &-title {
    font-size: 1.1rem;
    font-weight: 600;
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;

    align-self: center;
    padding: 0.8rem 1.6rem;
  }

  &-feature {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
  }

  &-featurelabel {
    font-weight: 500;
  }
}
