@use "../constants" as *;


.timeline {
  &-root {
    margin: 1rem 0;

    text {
      dominant-baseline: middle;
      text-anchor: middle;
    }
  }

  &-line:first-of-type, &-line:last-of-type {
    stroke-dasharray: 0 4 100000;
    stroke-dashoffset: 4;

    transition: color $dur-short, stroke-dashoffset $dur-short;
  }

  &-line:last-of-type {
    stroke-dashoffset: 0;
  }

  &-line, &-stagename, &-segment * {
    $a: calc(255 * (1 - var(--opacity)));
    color: rgb(#{$a}, #{$a}, #{$a});
    transition: color $dur-short;
  }

  &-root:hover &-stage, &-root:hover > &-segment {
    --opacity: 0.4;
  }

  &-root:hover &-stage:hover, &-root:hover &-stage:hover + &-stage &-segment:first-of-type, &-root:hover &-stage:hover + &-segment {
    --opacity: 1;
  }

  &-stage:hover &-line:last-of-type {
    stroke-dashoffset: 4;
  }

  &-stage:hover + &-stage &-line:first-of-type {
    stroke-dashoffset: 0;
  }

  &-stage:not(:hover) &-segmentlabel {
    opacity: 0;
    transform: translateY(+5%);
  }

  &-stagename {
    cursor: default;
    font-weight: 500;
  }

  &-stagelabel, &-segmentlabel {
    pointer-events: none;
    font-weight: 500;
  }

  &-segmentlabel {
    fill: #666;
    font-size: 0.9rem;
    transition: opacity $dur-short, transform $dur-short;
  }
}
