@use "../constants" as *;
@use "../mixins" as *;


$main-color: #404452;
$placeholder-color: #aaa;
$keyline-shadow: rgba($main-color, 16%) 0 0 0 1px;
$keyline-bottom-shadow: #0000001f 0 1px 1px;
$box-shadow: rgba($main-color, 8%) 0 2px 5px;
$focus-shadow: #{$highlight-blue} 0 0 0 1px, #{$highlight-shadow};
$hor-padding: 0.6rem;
$height: 2rem;

.sform {
  &-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;

    margin: 1rem 0;
  }

  &-header {
    margin-top: 1.4rem;

    font-size: 1.2rem;
    font-weight: 500;
  }

  &-label {
    margin-left: 0.6rem;
    margin-bottom: 0.2rem;

    color: #666;
    font-weight: 500;
  }

  &-durationfield, &-select select, &-textfield {
    height: $height;
    padding: 0 $hor-padding;

    border-radius: 4px;

    --focus-shadow: 0 0 transparent;
    transition: box-shadow 150ms;

    &:focus-within {
      --focus-shadow: #{$focus-shadow};
    }
  }

  &-checkboxlist {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  &-checkbox {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 0.4rem;

    input {
      width: auto;
      appearance: auto;

      &:focus-visible {
        outline: 2px solid $highlight-blue;
        outline-offset: 1px;
      }
    }

    div {
      color: $main-color;
      font-weight: 500;
    }
  }

  &-durationfield {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;

    width: max-content;
    box-shadow: var(--focus-shadow), $keyline-shadow, $box-shadow;

    color: $main-color;

    label {
      display: flex;
      align-items: baseline;
      column-gap: 0.2rem;
    }

    input {
      width: 2ch;

      font-variant-numeric: tabular-nums;
      text-align: right;

      &::placeholder {
        color: $placeholder-color;
      }

      &:placeholder-shown + * {
        color: $placeholder-color;
      }
    }
  }

  &-select {
    @include superimposed-children();
    align-items: center;

    // max-width: 300px;
    color: $main-color;

    select {
      padding-right: calc(#{$hor-padding} + 0.8 * #{$icon-size} + 0.6rem);
      box-shadow: var(--focus-shadow), $keyline-bottom-shadow, $keyline-shadow, $box-shadow;
    }

    .icon {
      margin-right: 0.4rem;
      justify-self: end;
      transform: scale(0.8);
    }
  }

  &-textfield {
    box-shadow: var(--focus-shadow), $keyline-shadow, $box-shadow;

    color: $main-color;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}
