@use "../constants" as *;


div.hover-row.status-bar {
  display: none !important;
}

@layer reset {
  .monaco-editor, .monaco-editor * {
    all: revert-layer;
  }
}


// ---


.monaco-editor {
  --vscode-peekViewResult-selectionForeground: #fff !important;
  font-family: $main-font;
}

.codicon:not(.monaco-custom-checkbox) {
  box-sizing: content-box;
}

.monaco-custom-checkbox {
  padding: 1.5px !important;
}


$icons: (
  "error": "error",
  "find-collapsed": "chevron_right",
  "find-expanded": "expand_more",
  "find-previous-match": "arrow_upward",
  "find-next-match": "arrow_downward",
  "find-selection": "subject",
  "widget-close": "close"
);

%codicon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@each $codicon, $icon in $icons {
  .codicon-#{$codicon}::before {
    @extend %codicon;
    content: $icon !important;
  }
}


// ---


.monaco-hover, .suggest-details, .suggest-widget::before {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 8px;
  box-shadow: 3px 3px 6px #0001;
}

.suggest-widget {
  &::before {
    content: "";

    position: absolute;
    inset: -6px;
  }

  .message {
    line-height: 23px;
  }

  .monaco-list-row {
    border-radius: 6px;

    &.focused {
      background-color: #cbe5ff !important;
    }

    .contents {
      color: #000;
    }

    .suggest-icon {
      align-self: center;
      margin: 0 6px 0 2px;
      padding: 3px;

      background-color: #666;
      border-radius: 4px;

      color: #fff;
      font-size: 12px;

      &.codicon-symbol-function {
        background-color: #0074d9;
      }

      &.codicon-symbol-keyword {
        background-color: #85144b;
      }

      &.codicon-symbol-file {
        background-color: #ff4136;
      }
    }

    .highlight {
      color: #000 !important;
    }

    .readMore::before {
      vertical-align: middle;
    }
  }
}

.monaco-hover {
  :is(h1, h2, h3, h4, h5, h6) {
    margin: initial;
  }

  h4 {
    text-transform: uppercase;
  }
}

.monaco-action-bar:not(.vertical) .action-label:not(.disabled):hover {
  background-color: rgba(184, 184, 184, 0.31);
}
