@use "../constants" as *;
@use "../mixins" as *;


.slayout {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}


.usettings {
  &-root {
    display: grid;
    grid-template-columns: 360px 1fr;
  }

  &-list {
    padding-right: 1rem;
  }

  &-panel {
    padding: 1rem 3px 1rem 2rem;
    border-left: 3px solid #ddd;
  }
}


.usettings {
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  &-entry {
    display: grid;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: auto 1fr auto;

    padding: 0.4rem 1rem 0.4rem 0.4rem;
    border: 1px solid transparent;
    border-radius: 4px;

    &:not(._selected):hover {
      border-color: #ddd;
    }

    &._selected {
      background-color: #eee;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    aspect-ratio: 1;
    padding: 4px;

    background-color: hsla(var(--angle, 0deg), 63%, 45%, 1);
    background-image: linear-gradient(transparent, #0002);
    border-radius: 4px;

    .icon {
      scale: 0.9;

      color: #fff;
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    }
  }

  &-title {
    @include text-ellipsis();

    font-size: 1.2rem;
    font-weight: 500;

    &:last-child {
      grid-column-end: span 2;
    }
  }

  &-subtitle {
    color: #666;
  }
}


.upanel {
  &-root {
    overflow-y: auto;
  }

  &-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    margin-bottom: 1rem;
  }

  &-title {
    font-size: 2.2rem;
  }

  &-checkbox {
    display: flex;
    column-gap: 1ch;

    input {
      appearance: auto;
    }

    div {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  &-description {
    margin: 1rem 0;
    font-size: 1.1rem;
  }

  &-data {
    & {
      display: grid;
      align-items: baseline;
      gap: 0.4rem 1.6rem;
      grid-template-columns: auto 1fr;

      margin: 1rem 0;
    }

    dt {
      color: #666;
      font-weight: 500;
    }

    code {
      font-family: $monospace-font;
      font-size: 0.9em;
    }
  }

  &-settings {
    margin-top: 1.2rem;

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  &-status {
    margin: 1rem 0;
    padding: 1rem 2rem;

    background-color: #fafafa;
    border-radius: 4px;

    color: #666;
    font-weight: 500;
    text-align: center;
  }
}
