@use "../constants" as *;
@use "../mixins" as *;
@use "./protocol-overview" as proto;


%selection-highlight {
  background-color: lighten($app-blue, 55%);
  border-color: $app-blue;
  box-shadow: -1px 1px 6px #0001;
}


.veditor {
  &-root {
    display: grid;
    align-items: start;
    column-gap: 6rem;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 2rem;
    margin-bottom: 0;

    // :focus { background-color: #f003 !important; }
  }

  &-stage {
    // &-list { }

    &-header {
      @extend .poverview-stage-header;
    }

    &-root:not(._open) &-header._context {
      background-color: lighten($app-blue, 55%);
      border-color: $app-blue;
      box-shadow: -1px 1px 6px #0001;
    }

    &-expand { @extend .poverview-stage-expand; }
    &-name { @extend .poverview-stage-name; }
    &-ellipsis { @extend .poverview-stage-ellipsis; }

    &-root:not(._open) &-expand { transform: rotate(-90deg); }
    &-root._open &-ellipsis { display: none; }

    &-steps {
      display: flex;
      flex-direction: column;
      row-gap: 0rem; // proto.$step-gap;

      margin-bottom: 1.4rem;
    }

    &-root:not(._open) &-steps {
      display: none;
    }
  }

  &-step {
    // &-item {
    //   display: grid;
    //   column-gap: 6px;
    //   grid-template-columns: 1rem 1fr;
    // }

    // &-handle {
    //   background-color: #f6f6f6;
    //   border: 1px solid #0002;
    //   border-radius: 4px 0 0 4px;

    //   transition: opacity 150ms;
    // }

    // &-item:not(:hover) &-handle {
    //   opacity: 0;
    // }

    // &-item:hover &-body {
    //   border-radius: 0 proto.$step-radius proto.$step-radius 0;
    // }

    &-item {
      display: grid;
      grid-template-columns: 1rem 1fr;
    }

    &-handle {
      background-color: proto.$step-background;
      border: 1px solid #d5d5d5;
      border-right: none;
      border-radius: proto.$step-radius 0 0 proto.$step-radius;

      cursor: default;
    }

    &-item:hover &-handle {
      background-color: #d5d5d5;
    }

    &-item._selected &-handle {
      background-color: $app-blue;
      border-color: transparent;
    }


    &-body {
      display: grid;
      align-items: baseline;
      gap: 0 1rem;
      grid-template-columns: 3rem 1fr auto;

      padding: 1rem 1.8rem 1rem 1rem;

      background-color: proto.$step-background;
      border: 1px solid #0002;
      border-left: none;
      border-radius: 0 proto.$step-radius proto.$step-radius 0;

      user-select: none;

      // &._context, &._open, &:hover {
      //   box-shadow: 1px 1px 3px #0001;
      // }

      &._selected {
        @extend %selection-highlight;
      }
    }

    &-item._selected &-body {
      border-color: $app-blue;
    }

    // &-header {
    //   @extend .poverview-step-header;
    //   grid-template-columns: 3rem 1fr;
    // }

    &-time { @extend .poverview-step-time; }
    &-name { @extend .poverview-step-name; }

    // &-info {
    //   display: flex;
    // }

    &-expand {
      display: flex;
      align-items: center;
      column-gap: 0.4rem;

      width: auto;
      justify-self: end;

      color: #666;
      font-weight: 500;

      &:hover {
        color: #333;
      }

      .icon {
        font-size: 18px;
      }
    }

    &-summary {
      justify-self: end;
    }

    &-item:is(:hover, ._open) &-summary {
      display: none;
    }

    &-item:is(._open, :not(:hover)) &-expand--open,
    &-item:not(._open) &-expand--close {
      display: none;
    }

    &-dropzone {
      display: grid;
      align-items: center;
      column-gap: 1rem;
      grid-template-columns: auto 1fr auto;

      // margin: -0.4rem -1rem;
      margin: -0.4rem 0;
      z-index: 1;

      color: $app-blue;

      // background-color: #f003;

      &:not(._over) {
        opacity: 0;
      }

      &._over {
        padding: 0.4rem 0;
      }

      &:not(._active) {
        pointer-events: none;
      }

      $dur: 150ms;
      $delay: 150ms;

      transition: opacity $dur $delay, padding $dur $delay;

      > :nth-child(1) { --dir: -1; }
      > :nth-child(3) { --dir: 1; --y-offset: -1px; }

      &:not(._over) > :nth-child(2n+1) { --delta: 1.4rem; }
      &._over > :nth-child(2n+1) { --delta: 1rem; }

      > :nth-child(2n+1) {
        transform: translate(calc(var(--delta) * var(--dir)), var(--y-offset, 0)) scale(1.4);
        transition: transform $dur $delay;
      }

      > :nth-child(2) {
        height: 2px;
        background-color: currentColor;
      }
    }
  }

  &-segment {
    &-list {
      grid-column: 2 / 4;
      // display: grid;

      // margin-bottom: 0;
      // margin-top: 0.4rem;
      // margin-left: 3rem;
    }

    &-dropzone {
      display: grid;
      align-items: center;
      column-gap: 1rem;
      grid-template-columns: 1fr;

      height: 1.8rem;
      margin: -0.6rem 0;
      // background-color: #f003;

      color: $app-blue;
      font-weight: 500;

      > :first-child { border-radius: 4px 0 0 4px; }
      > :last-child { border-radius: 0 4px 4px 0; }

      > :nth-child(2) {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
      }

      > :not(:nth-child(2)) {
        height: 1px;
        background-color: proto.$segment-border;
      }

      &._over, &:not(:hover) {
        > :nth-child(n+2) {
          display: none;
        }
      }

      &._over, &:hover {
        > :not(:nth-child(2)) {
          height: 2px;
          background-color: currentColor;
        }
      }

      &:hover {
        grid-template-columns: 1fr auto 1fr;
      }

      &:not(._over):not(:hover):is(:first-child, :last-child) > * {
        display: none;
      }
    }

    &-features {
      @extend %features;

      border-radius: proto.$segment-radius;

      // Prevent hover from reaching overlapping dropzones
      z-index: 1;

      &:not(._selected):hover {
        background-color: #f3f3f3;
        border-color: proto.$segment-border;
      }

      &._context {
        box-shadow: -1px 1px 6px #0001;
      }

      &._selected {
        @extend %selection-highlight;
      }

      &._active {
        // background-color: #f003;
      }
    }
  }

  &-step-item:not(._open) &-segment-list {
    display: none;
  }


  &-inspector {
    &-root {
      position: sticky;
      top: 0;

      padding: 0 3px;

      overflow-y: auto;
      overscroll-behavior-y: contain;
      height: calc(100vh - 2 * 2.2rem);
    }

    &-header {
      display: grid;
      align-items: center;
      column-gap: 1rem;
      grid-template: auto auto / 1fr auto;

      padding-right: 2rem;
    }

    &-subtitle {
      color: #999;
    }

    &-title {
      font-size: 1.4rem;
      font-weight: 600;

      // @extend .veditor-stage-name;

      // padding: 0.8rem 1.2rem;
      // background-color: #fafafa;
      // border-radius: 6px;
    }

    &-navigation {
      display: flex;

      grid-column: 2;
      grid-row: 1 / -1;
    }

    &-navigate {
      display: flex;

      &:not(:hover) {
        color: #999;
      }

      &[disabled] {
        color: #ccc;
      }
    }


    &-section {
      margin-top: 1.4rem;

      // border-top: 1px solid #ddd;

      font-size: 1.2rem;
      font-weight: 500;
    }

    &-group {
      margin: 0.6rem 0 0.8rem 0;
    }

    &-label {
      margin-left: 0.6rem;
      margin-bottom: 0.2rem;

      color: #666;
      font-weight: 500;
    }
  }
}

.veditor-inspector {
  $main-color: #404452;
  $placeholder-color: #aaa;
  $keyline-shadow: rgba($main-color, 16%) 0 0 0 1px;
  $keyline-bottom-shadow: #0000001f 0 1px 1px;
  $box-shadow: rgba($main-color, 8%) 0 2px 5px;
  $focus-shadow: #{$highlight-blue} 0 0 0 1px, #{$highlight-shadow};
  $hor-padding: 0.6rem;
  $height: 2rem;

  &-durationfield, &-select select, &-textfield {
    height: $height;
    padding: 0 $hor-padding;

    border-radius: 4px;

    --focus-shadow: 0 0 transparent;
    transition: box-shadow 150ms;

    &:focus-within {
      --focus-shadow: #{$focus-shadow};
    }
  }

  &-checkboxlist {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  &-checkbox {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 0.4rem;

    input {
      width: auto;
      appearance: auto;

      &:focus-visible {
        outline: 2px solid $highlight-blue;
        outline-offset: 1px;
      }
    }

    div {
      color: $main-color;
      font-weight: 500;
    }
  }

  &-durationfield {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;

    width: max-content;
    box-shadow: var(--focus-shadow), $keyline-shadow, $box-shadow;

    color: $main-color;

    label {
      display: flex;
      align-items: baseline;
      column-gap: 0.2rem;
    }

    input {
      width: 2ch;

      font-variant-numeric: tabular-nums;
      text-align: right;

      &::placeholder {
        color: $placeholder-color;
      }

      &:placeholder-shown + * {
        color: $placeholder-color;
      }
    }
  }

  &-select {
    @include superimposed-children();
    align-items: center;

    // max-width: 300px;
    color: $main-color;

    select {
      padding-right: calc(#{$hor-padding} + 0.8 * #{$icon-size} + 0.6rem);
      box-shadow: var(--focus-shadow), $keyline-bottom-shadow, $keyline-shadow, $box-shadow;
    }

    .icon {
      margin-right: 0.4rem;
      justify-self: end;
      transform: scale(0.8);
    }
  }

  &-textfield {
    box-shadow: var(--focus-shadow), $keyline-shadow, $box-shadow;

    color: $main-color;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}
