@use "../constants" as *;
@use "./protocol-overview" as proto;


%selection-highlight {
  background-color: lighten($app-blue, 55%);
  border-color: $app-blue;
  box-shadow: -1px 1px 6px #0001;
}


.veditor {
  &-root {
    margin: 1rem 2rem;
    max-width: 500px;

    // :focus { background-color: #f003 !important; }
  }

  &-stage {
    &-header {
      @extend .poverview-stage-header;

      &._context {
        background-color: lighten($app-blue, 55%);
        border-color: $app-blue;
        box-shadow: -1px 1px 6px #0001;
      }
    }

    &-expand { @extend .poverview-stage-expand; }
    &-name { @extend .poverview-stage-name; }
    &-ellipsis { @extend .poverview-stage-ellipsis; }

    &-root:not(._open) &-expand { transform: rotate(-90deg); }
    &-root._open &-ellipsis { display: none; }

    &-steps {
      display: flex;
      flex-direction: column;
      row-gap: 0rem; // proto.$step-gap;

      margin-bottom: 1.4rem;
    }

    &-root:not(._open) &-steps {
      display: none;
    }
  }

  &-step {
    &-item {
      display: grid;
      align-items: center;
      gap: 0 1rem;
      grid-template-columns: 3rem auto 1fr;

      padding: 1rem 1.8rem;

      background-color: proto.$step-background;
      border: 1px solid transparent;
      border-color: #0002;
      border-radius: proto.$step-radius;

      user-select: none;

      &._context, &._open, &:hover {
        box-shadow: 1px 1px 3px #0001;
      }

      // &._context {
      //   @extend %selection-highlight;
      // }

      &._selected {
        @extend %selection-highlight;
      }
    }

    // &-header {
    //   @extend .poverview-step-header;
    //   grid-template-columns: 3rem 1fr;
    // }

    &-time { @extend .poverview-step-time; }
    &-name { @extend .poverview-step-name; }

    // &-info {
    //   display: flex;
    // }

    &-expand {
      display: flex;
      align-items: center;
      column-gap: 0.4rem;

      width: auto;
      justify-self: end;

      color: #666;
      font-weight: 500;

      &:hover {
        color: #333;
      }

      .icon {
        font-size: 20px;
      }
    }

    &-summary {
      justify-self: end;
    }

    &-item:is(:hover, ._open) &-summary {
      display: none;
    }

    &-item:is(._open, :not(:hover)) &-expand--open,
    &-item:not(._open) &-expand--close {
      display: none;
    }

    &-dropzone {
      display: grid;
      align-items: center;
      column-gap: 1rem;
      grid-template-columns: auto 1fr auto;

      // margin: -0.4rem -1rem;
      margin: -0.4rem 0;
      z-index: 1;

      color: $app-blue;

      // background-color: #f003;

      &:not(._over) {
        opacity: 0;
      }

      &._over {
        padding: 0.4rem 0;
      }

      &:not(._active) {
        pointer-events: none;
      }

      $dur: 150ms;
      $delay: 150ms;

      transition: opacity $dur $delay, padding $dur $delay;

      > :nth-child(1) { --dir: -1; }
      > :nth-child(3) { --dir: 1; --y-offset: -1px; }

      &:not(._over) > :nth-child(2n+1) { --delta: 1.4rem; }
      &._over > :nth-child(2n+1) { --delta: 1rem; }

      > :nth-child(2n+1) {
        transform: translate(calc(var(--delta) * var(--dir)), var(--y-offset, 0)) scale(1.4);
        transition: transform $dur $delay;
      }

      > :nth-child(2) {
        height: 2px;
        background-color: currentColor;
      }
    }
  }

  &-segment {
    &-list {
      grid-column: 2 / 4;
      // display: grid;

      // margin-bottom: 0;
      // margin-top: 0.4rem;
      // margin-left: 3rem;
    }

    &-dropzone {
      display: grid;
      align-items: center;
      column-gap: 1rem;
      grid-template-columns: 1fr;

      height: 1.8rem;
      margin: -0.6rem 0;
      // background-color: #f003;

      color: $app-blue;
      font-weight: 500;

      > :first-child { border-radius: 4px 0 0 4px; }
      > :last-child { border-radius: 0 4px 4px 0; }

      > :nth-child(2) {
        display: flex;
        column-gap: 0.4rem;
      }

      > :not(:nth-child(2)) {
        height: 1px;
        background-color: proto.$segment-border;
      }

      &._over, &:not(:hover) {
        > :nth-child(n+2) {
          display: none;
        }
      }

      &._over, &:hover {
        > :not(:nth-child(2)) {
          height: 2px;
          background-color: currentColor;
        }
      }

      &:hover {
        grid-template-columns: 1fr auto 1fr;
      }

      &:not(._over):not(:hover):is(:first-child, :last-child) > * {
        display: none;
      }
    }

    &-features {
      @extend %features;

      border-radius: proto.$segment-radius;

      // Prevent hover from reaching overlapping dropzones
      z-index: 1;

      &:not(._selected):hover {
        background-color: #f3f3f3;
        border-color: proto.$segment-border;
      }

      &._context {
        box-shadow: -1px 1px 6px #0001;
      }

      &._selected {
        @extend %selection-highlight;
      }

      &._active {
        // background-color: #f003;
      }
    }
  }

  &-step-item:not(._open) &-segment-list {
    display: none;
  }
}
