@use "../constants" as *;


.root {
  h3 {
    margin: 1.2rem 0 0.8rem 0;

    font-size: 1.2rem;
    font-weight: 600;
  }

  a {
    display: inline;
    color: #06c;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  p {
    margin: 0.8rem 0;
  }

  code {
    padding: 0.2em 0.4em;

    background-color: #0074d933;
    border-radius: 6px;

    color: #0059a6;
    font-family: $monospace-font;
    font-size: 0.9em;
  }
}
