@use "../constants" as *;
@use "../mixins" as *;


.root {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;

  padding: 2rem;
}

.entry {
  &Root {
    display: grid;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: 1fr $icon-size;
  }

  &Button {
    display: grid;
    align-items: center;
    column-gap: 0.6rem;
    grid-template-columns: auto 1fr auto;

    height: 40px;
    padding: 0 0.6rem;
    border: 1px solid transparent;
    border-radius: 4px;
  }

/* &Connection {
    width: 1ch;
    aspect-ratio: 1;

    background-color: $app-green;
    border-radius: 50%;
  } */

  &Body {
    line-height: 1.2;
  }

  &Icon {
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 24;
  }

  &Label {
    font-weight: 500;

    // &::after {
    //   content: " â—";
    //   color: #0074d9;
    // }
  }

  &Sublabel {
    color: #666;
    font-size: 0.85em;
  }

  &ErrorIcon {
    color: $app-red;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 24;
  }
}


.collection {
  &Root {
  }

  &List {
    margin-left: $icon-size;
    margin-top: 0.2rem;
  }
}

.collectionRoot:not(:global(._open)) > .collectionList {
  display: none;
}

.collectionRoot:global(._open) > .entryRoot .entryIcon {
  rotate: 90deg;
}


.collectionRoot:global(._open) > .entryButton, .entryButton:hover {
  background-color: #fafafa;
  border-color: #0001;
}
