@use "../constants" as *;
@use "../mixins" as *;


.panel {
  padding: 0 1.4rem;
  overflow-y: auto;
}

.root {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  margin: 2rem 0;
}


.entry {
  &Root {
    display: grid;
    column-gap: $icon-gap;
    grid-template-columns: $icon-size 1fr auto;
  }

  &Icon {
    @include icon($fill: true);

    align-self: start;
    grid-row: 1 / span 2;

    margin-top: -3px;
    border-radius: 6px;

    color: $icon-grey;
  }

  &Root[data-kind="effect"] &Icon { color: $app-purple; }
  &Root[data-kind="error"] &Icon { color: $app-red; }
  &Root[data-kind="warning"] &Icon { color: $app-orange; }

  &Title {
    font-weight: 600;
  }

  &Location {
    text-decoration: underline dotted;

    &:hover {
      text-decoration-style: solid;
    }
  }

  &Description {
    grid-column: 2 / span 2;
    margin-top: 0.2rem;
  }

  &Source {
    grid-column: 2 / span 2;
    color: #999;
    font-size: 0.9rem;
  }

  &Actions {
    display: flex;
    align-items: baseline;
    column-gap: 1rem;

    margin-top: 0.4rem;
    grid-column: 2 / -1;
  }

  &Action {
    width: auto;

    color: #666;
    font-size: 0.95em;
    font-weight: 500;
    text-transform: uppercase;

    &:focus-visible {
      box-shadow: $highlight-shadow;
    }

    // :global(.icon) {
    //   @include icon($size: 20px);

    //   margin-right: 4px;
    //   vertical-align: -4px;
    // }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
      text-underline-offset: 3px;
    }

    // &:not(:last-child)::after {
    //   content: "•";
    //   margin-left: 1.2rem;
    //   opacity: 0.4;
    //   pointer-events: none;
    // }
  }
}
