@use "../constants" as *;


$border-color: #ddd;


.root {
  display: grid;
  grid-template-rows: 1fr auto;
}


.panels {
  display: grid;
  grid-template-columns: 1fr 1px 2fr 1px 0px;

  height: 100%;
  overflow: hidden;

  > :nth-child(odd) {
    overflow-x: hidden;
  }

  > :nth-child(even) {
    cursor: col-resize;
    pointer-events: initial;
    position: relative;
    z-index: 1;

    &::before, &::after {
      content: "";

      position: absolute;
      inset: 0;

      height: 100%;
    }

    // Hover area
    &::before {
      width: 6px;
      translate: calc(0.5px - 50%) 0;
    }

    // Blue handle
    &::after {
      width: 1px;
      background-color: $border-color;
    }

    &:is(:hover, :global(._dragging))::after {
      background-color: $app-blue;
      scale: 4 1;
    }

    &:hover::after {
      transition: background-color $dur-short 300ms, scale $dur-short 300ms;
    }
  }
}


.editor {
  &Root {
    overflow-x: hidden;
  }

  &Monaco {
    height: 100%;
  }
}


.infobar {
  &Root {
    display: flex;
    justify-content: space-between;

    padding: 0.2rem 0.8rem;
    border-top: 1px solid $border-color;

    font-size: 0.9rem;
  }

  &Left {

  }

  &Right {

  }
}
