@use "../constants" as *;


$border-color: #ddd;

.root {
  display: grid;
  grid-template-rows: 1fr auto;
}


.editor {
  &Root {
    overflow-x: hidden;
  }

  &Monaco {
    height: 100%;
  }
}


.infobar {
  &Root {
    display: flex;
    justify-content: space-between;

    padding: 0.2rem 0.8rem;
    border-top: 1px solid $border-color;

    font-size: 0.9rem;
  }

  &Left {

  }

  &Right {

  }
}
