@use "../constants" as *;
@use "../mixins" as *;


$divider-height: 20px;
$entry-height: 30px;


.list {
  margin: 1rem 0;
}

.group {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.entry {
  display: grid;
  align-items: center;
  column-gap: 0.8rem;
  grid-template-columns: auto minmax(0, 1fr) auto auto;

  height: $entry-height;
  padding: 0 2px;

  &Disabled {
    opacity: 0.4;
    color: #666;
  }
}

.icon {
  padding: 4px;

  background-color: $icon-grey;
  border-radius: 4px;

  color: #fff;
  font-size: 20px;
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 20;
}

.entryAccent .icon {
  background-color: $app-blue;
}

.body {
  display: grid;
  grid-template-rows: 14px 16px;
}

.description {
  overflow-y: clip;

  @include text-ellipsis();
  color: #999;
  font-size: 0.85rem;
  line-height: 1.15;
}

.label {
  overflow-y: clip;

  @include text-ellipsis();
  font-weight: 500;
  line-height: 1.15;

  &:only-child {
    grid-row: 1 / -1;
    align-self: center;
  }

  &:has(*) {
    // Enables correct positioning of expressions
    display: flex;
  }
}

.action {
  display: flex;
  padding: 1px;

  border: 1px solid transparent;
  border-radius: 4px;

  color: #999;

  &:hover {
    border-color: #ddd;
    color: #666;
  }

  :global(.icon) {
    font-variation-settings:
      'FILL' 1,
      'wght' 100,
      'GRAD' 200,
      'opsz' 20;

    translate: 0 1px;
  }
}

.errorIcon {
  color: $app-red;
  font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 200,
    'opsz' 20;
}
