@use "../constants" as *;


.root {
  display: grid;
  align-items: center;
  column-gap: 1rem;
  grid-template-columns: 1fr 3rem;
}

.outer {
  display: grid;

  border: 1px solid #ddd;
  border-radius: 6px;

  height: 12px;
  padding: 0 4px;

  .root:global(._writable) & {
    cursor: pointer;
  }
}

.inner, .progress, .select {
  width: 100%;
  height: 4px;

  margin: auto 0;
  border-radius: 4px;

  grid-column: 1;
  grid-row: 1;
}

.progress {
  background-color: $app-blue;

  .root:global(._paused) & {
    background-color: #666;
  }
}

.select {
  background-color: #0003;
}

.text {
  color: #999;
  font-variant-numeric: tabular-nums;
  text-align: right;
}
