@use "../mixins" as *;


.root {
  width: var(--sidebar-width);

  padding: 1rem 0;

  background-color: #fcfcfc;
  border-right: 1px solid #ddd;

  &:global(._context) {
    background-color: #eee;
  }

  &Reduced {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr auto 1fr;
  }
}

.rootReduced .headerRoot {
  display: none;
}

.rootReduced .navEntryLabel {
  display: none;
}

.rootReduced .navGroup {
  margin-left: unset;
  margin-right: unset;
}


.header {
  &Root {
    @include superimposed-children();

    margin: 2rem 0;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &Value {
    &Root {
      display: grid;
      align-items: center;
      gap: 0 1rem;
      grid-template: auto auto / 40px 1fr auto;

      padding: 0.6rem 1rem;
    }

    &Icon {
      grid-row: 1 / -1;
      padding: 4px;
    }

    &Title {
      font-size: 1.2rem;
      font-weight: 600;
    }

    &Subtitle {
      color: #666;
    }

    &Expand {
      display: flex;

      grid-column: 3;
      grid-row: 1 / -1;
    }
  }

  &Root:not(:hover) &ValueExpand {
    color: #666;
  }

  &Select {
    opacity: 0;
  }
}


.nav {
  &Root {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    &:nth-last-child(2) {
      align-self: center;
      grid-row: 2;
    }

    &:last-child {
      align-self: end;
      grid-row: 3;
    }
  }

  &Group {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;

    margin: 0 1rem;
  }

  &Entry {
    &Root {
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }

    &Root:hover &Icon {
      background-color: #ddd;
    }

    &Root:global(._selected) &Icon {
      background-color: #0074d9;
      color: #fff;
    }

    &Label {
      font-size: 1.1rem;
      font-weight: 500;
    }

    &Icon {
      display: flex;
      padding: 4px;

      background-color: #eee;
      border-radius: 4px;

      font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 24;
    }
  }
}
