@use "../constants" as *;
@use "../mixins" as *;


.root {
  max-width: 500px;
}

.breadcrumb {
  &Root {
    display: flex;
    align-items: center;

    margin-left: -0.6rem;
    overflow-x: auto;
  }

  &Entry {
    width: auto;
    flex-shrink: 0;

    padding: 0.2rem 0.6rem;
    border-radius: 4px;

    color: #666;

    &:global(._active) {
      font-weight: 600;
    }

    &:global(._context) {
      background-color: lighten($highlight-blue, 50%);
    }

    // &:not(:last-child) {
    //   margin-right: 0.4rem;

    //   &::after {
    //     content: "›";

    //     margin-left: 0.4rem;
    //     pointer-events: none;
    //   }
    // }
  }

  // &Root:has(&Entry:hover) &Entry {
  &Entry:is(:hover, :global(._active)) ~ :is(&Entry, &Icon) {
    color: #bbb;
  }

  &Icon {
    color: #666;
    font-size: 14px;
  }
}


.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;

  margin-bottom: 1rem;
}

.title {
  @include text-ellipsis();

  font-size: 1.6rem;
}

.navigation {
  &Root {
    display: flex;
  }

  &Button {
    display: flex;
    position: relative;

    &:disabled {
      color: #999;
    }

    &::after {
      content: "";

      position: absolute;
      inset: 0;
      z-index: -1;

      background-color: #eee;
      border-radius: 50%;
    }

    &:nth-child(1)::after { translate: 1px 0; }
    &:nth-child(2)::after { translate: -1px 0; }

    &:not(:hover)::after {
      opacity: 0;
    }
  }
}


.feature {
  &List {
    margin: 1rem 0;
  }

  &Group {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }

  &List &Group {
    padding: 0.6rem 1rem;
  }

  &Entry {
    display: grid;
    align-items: center;
    column-gap: 0.8rem;
    grid-template-columns: auto 1fr auto;

    height: 30px;

    &Disabled {
      opacity: 0.4;
      color: #666;
    }
  }

  &Icon {
    padding: 4px;

    background-color: $icon-grey;
    border-radius: 4px;

    color: #fff;
    font-size: 20px;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 20;
  }

  &EntryAccent &Icon {
    background-color: $app-blue;
  }

  &Body {
    display: flex;
    flex-direction: column;

    &:last-child {
      grid-column-end: 3;
    }
  }

  &Description {
    align-self: start;

    @include text-ellipsis();

    color: #999;
    font-size: 0.85rem;
    line-height: 1.15;
  }

  &Label {
    @include text-ellipsis();

    font-weight: 500;
    line-height: 1.15;
  }

  &Blank {
    color: #666;
    font-style: italic;
  }

  &ErrorIcon {
    color: $app-red;
    font-variation-settings:
      'FILL' 1,
      'wght' 100,
      'GRAD' 200,
      'opsz' 20;
  }
}
