@use "../constants" as *;
@use "../mixins" as *;


.root {
  height: 100%;
  overflow-y: auto;

  &:not(.contents) {
    display: grid;
    grid-template-rows: 1fr auto;
  }
}

.contents {
  max-width: 500px;
  padding: 1rem 1.4rem;
}

.breadcrumb {
  &Root {
    display: flex;
    align-items: center;

    margin-left: -0.6rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &Entry {
    width: auto;
    flex-shrink: 0;

    padding: 0.2rem 0.6rem;
    border-radius: 4px;

    color: #666;

    &:global(._active) {
      font-weight: 600;
    }

    &:global(._context) {
      background-color: lighten($highlight-blue, 50%);
    }

    // &:not(:last-child) {
    //   margin-right: 0.4rem;

    //   &::after {
    //     content: "›";

    //     margin-left: 0.4rem;
    //     pointer-events: none;
    //   }
    // }
  }

  // &Root:has(&Entry:hover) &Entry {
  &Entry:is(:hover, :global(._active)) ~ :is(&Entry, &Icon) {
    color: #bbb;
  }

  &Icon {
    color: #666;
    font-size: 14px;
  }
}


.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;

  margin-bottom: 1rem;
}

.title {
  @include text-ellipsis();

  font-size: 1.6rem;
}

.navigation {
  &Root {
    display: flex;
  }

  &Button {
    display: flex;
    position: relative;

    &:disabled {
      color: #999;
    }

    &::after {
      content: "";

      position: absolute;
      inset: 0;
      z-index: -1;

      background-color: #eee;
      border-radius: 50%;
    }

    &:nth-child(1)::after { translate: 1px 0; }
    &:nth-child(2)::after { translate: -1px 0; }

    &:not(:hover)::after {
      opacity: 0;
    }
  }
}


.footer {
  &Root {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
    padding: 1rem 1.4rem;

    border-top: 1px solid #ddd;

    > * {
      display: flex;
      align-items: center;
    }
  }

  &Status {
    color: #666;
  }
}
