@use "../constants" as *;


.root {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 3rem;

  grid-column: 1 / span 2;
  grid-row: 1;

  background-color: #f2f2f2;
  background-image: linear-gradient(transparent, #0000000a);
  border-bottom: 1px solid #dadada;

  -webkit-app-region: drag;
}

.title {
  &Root {
    padding: 0 2rem;
    cursor: default;
  }

  &Main {
    color: #333;
    font-weight: 500;
    text-align: center;

    transition: translate $dur-short;

    // &::after { content: " ✱"; }
  }

  &Sub {
    color: #999;
    font-size: 0.9rem;
    text-align: center;

    transition: opacity $dur-short;
  }

  &Root:not(:hover) &Main:not(:only-child) {
    translate: 0 #{$line-height * (0.9rem + 1rem) * 0.25};
  }

  &Root:not(:hover) &Sub {
    opacity: 0;
  }
}

.right {
  display: flex;
  justify-content: end;
}

.tools {
  &Root {
    display: flex;
    column-gap: 0.2rem;
  }

  &Item {
    padding: 2px;
    border-radius: 4px;

    :global(.icon) {
      display: flex;
      color: #666;

      font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 24;
    }

    &:hover {
      background-color: #ddd;
    }

    // &:first-child {
    //   border-radius: 4px 0 0 4px;
    // }

    // &:last-child {
    //   border-radius: 0 4px 4px 0;
    // }
  }
}
