@use "./constants" as *;


.control {
  &-root {
    padding: 2rem 3rem;

    h2 {
      display: flex;
      align-items: center;
      column-gap: 1rem;

      margin: 2rem 0;

      font-size: 1.2rem;
      font-weight: 600;

      &::before, &::after {
        content: "";

        height: 2px;
        background-color: currentColor;
      }

      &::before {
        width: 2rem;
      }

      &::after {
        flex-grow: 1;
      }
    }
  }

  &-list {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 200px auto;
    gap: 1rem;
  }

  &-entry {
    display: flex;
  }

  &-name {
    grid-column: 1;

    // font-family: $monospace-font;
    text-align: right;
  }

  &-toggle {
    display: flex;

    // border-radius: 4px;

    $background: lighten($app-blue, 50%);
    $border: lighten($app-blue, 10%);
    $text: darken($app-blue, 10%);

    > * {
      padding: 0.6rem 0;
      border: 1px solid #999;
      border-radius: 4px;

      color: #666;
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      text-transform: uppercase;

      &._active {
        background-color: $background;
        border: 1px solid $border;

        color: $text;

        + * {
          border-left-color: $border;
        }
      }

      &:not(:last-child) {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child) {
        // border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &-error {
    justify-self: start;
    color: $app-orange;
  }
}
