$app-blue: #0074d9;
$app-green: darken(#2ecc40, 4%);
$app-orange: #d96500;
$app-purple: #85144b;
$app-red: #ff4136;
$app-turquoise: #07e7c4;

$main-font: ui-sans-serif, system-ui, "Helvetica Neue", Helvetica, sans-serif;
$monospace-font: Menlo, "Cascadia Mono", "Courier New", ui-monospace, monospace;
$line-height: 1.3;
$icon-gap: 0.6rem;
$icon-grey: #666;
$icon-size: 24px;

$highlight-blue: #0366d6;
$highlight-shadow: 0 0 0 3px rgba($highlight-blue, 40%);

$dur-short: 150ms;
$dur-medium: 250ms;
$dur-long: 350ms;

$titlebar-height: 40px;
$separator-border-color: #ddd;
