$app-blue: #0074d9;
$app-orange: darken(#ff851b, 6%);
$app-red: #ff4136;

$border-gap: 0.8rem;
$monospace-font: Menlo;
$line-height: 1.2;
$icon-gap: 0.6rem;
$icon-size: 24px;

$highlight-blue: #0366d6;
$highlight-shadow: 0 0 0 3px rgba($highlight-blue, 40%);
