@use "./constants" as *;


.form {
  &-container {
    max-width: 600px;

    p {
      margin: 1rem 0;
      color: #666;
    }
  }

  &-control {
    $padding-hor: 1.4rem;
    $padding-vert: 0.8rem;

    margin: 1rem 0;

    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 4px;

    &:focus-within {
      border-color: #ddd;
    }

    > :first-child {
      margin: $padding-vert $padding-hor 0.2rem $padding-hor;

      color: #666;
      font-size: 0.9rem;
      font-weight: 600;
    }

    input, textarea {
      // margin: 0.2rem #{-$padding-hor};
      padding: 0 $padding-hor $padding-vert $padding-hor;

      &::placeholder {
        color: #aaa;
      }
    }

    textarea {
      resize: vertical;
    }
  }
}
