@mixin no-scrollbar() {
  & {
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin superimposed-children() {
  display: grid;
  grid: [track] 100% / [track] 100%;

  > * {
    grid-area: track;
  }
}

@mixin text-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
