@use "./constants" as *;


$step-gap: 1.2rem;
$step-background: #f6f6f6;
$step-radius: 4px;

$segment-border: #ddd;
$segment-radius: 4px;


.protoview {
  &-stage {
    &-header {
      display: flex;
      align-items: center;
      column-gap: 1rem;

      padding: 1rem 0 1rem 2rem;

      border: 1px solid transparent;
      border-radius: 4px;

      .icon {
        border-radius: 50%;
        transform: scale(1.4);
      }
    }

    &-root:not(._open) .icon {
      transform: scale(1.4) rotate(-90deg);
    }

    &-root._active:not(._open) &-header {
      background-color: #fafafa;
      border: 1px solid #eaeaea;
    }

    &-name {
      font-size: 1.3rem;
      font-weight: 600;
    }

    &-expand {
      padding: 0 0.4rem;

      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;

      font-size: 1.1rem;
    }

    &-root._open &-expand {
      display: none;
    }

    &-steps {
      display: flex;
      flex-direction: column;
      row-gap: $step-gap;

      margin-bottom: 1.4rem;
      padding: 1.4rem 1.8rem;

      background-color: $step-background;
      border-radius: $step-radius;
    }

    &-root:not(._open) &-steps {
      display: none;
    }
  }

  &-step {
    $large-marker: 5px;
    $small-marker: 3px;

    &-item {
      cursor: default;
      transition: background-color 150ms, border-color 150ms, box-shadow 150ms;

      position: relative;

      &:not(:last-child)::before {
        content: "";

        width: 2px;
        height: calc(100% + #{$step-gap});

        position: absolute;
        left: $large-marker;
        top: 9px;

        background-color: #666;
        transform: translateX(-50%);
      }
    }

    &-header {
      display: grid;
      align-items: baseline;
      column-gap: 1rem;
      grid-template-columns: auto 3rem 1fr;
    }

    &-marker {
      --radius: #{$small-marker};

      width: calc(2 * var(--radius));
      aspect-ratio: 1;

      margin: 0 calc(#{$large-marker} - var(--radius));

      align-self: end;
      transform: translateY(-0.6ex);

      background-color: #666;
      border-radius: 50%;
    }

    &-item:is(:first-child, :last-child) &-marker {
      --radius: #{$large-marker};
      transform: translateY(-0.4ex);
    }

    &-time {
      color: #666;
      font-weight: 500;
      text-align: center;
    }

    &-name {
      font-size: 1.2rem;
      font-weight: 600;
    }

    &-hidden {
      $extra-margin: 0.6rem;

      width: max-content;
      margin: ($step-gap + $extra-margin) 0 $extra-margin 4rem;

      color: $app-blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-segment {
    &-list {
      display: grid;

      margin-top: 0.8rem;
      margin-left: 5rem;

      > * {
        grid-column: 1;
      }
    }

    &-features {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      column-gap: 1rem;
      row-gap: 0.6rem;

      padding: 0.8rem 1.2rem;
      border: 1px solid transparent;

      font-size: 1.1rem;
      font-weight: 500;

      &:not(:first-child) {
        border-top-color: #ddd;
      }

      &:not(:last-child) {
        border-bottom-width: 0;
      }

      &:hover, &._active, &._context, &._selected {
        border: 1px solid #ddd;
        border-radius: $segment-radius;

        + * {
          border-top: none;
        }
      }

      &:hover {
        background-color: #f3f3f3;
      }

      &._active {
        background-color: #eee;
      }

      &._context, &._selected {
        background-color: lighten($app-blue, 55%);
        border-color: $app-blue;
        box-shadow: -1px 1px 6px #0001;
      }

      > :nth-child(-n+2) {
        color: $app-blue;
      }

      .icon {
        transform: scale(1.2);
      }
    }
  }
}


%features {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.6rem;

  padding: 0.8rem 1.2rem;
  border: 1px solid transparent;

  font-size: 1.1rem;
  font-weight: 500;

  > :nth-child(-n+2) {
    color: $app-blue;
  }

  .icon {
    transform: scale(1.2);
  }
}
