@use "./constants" as *;


.status {
  &-subtitle {
    margin-bottom: 0.2rem;
    color: #999;
  }

  &-header {
    display: flex;
    align-items: baseline;
  }

  &-title {
    font-size: 1.5rem;
  }

  &-time {
    margin-left: auto;
    color: #999;
  }


  &-list {
    margin: 2rem 0;
  }

  &-segment {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    row-gap: 0.4rem;

    padding: 0 1rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;

    font-size: 1.1rem;
    font-weight: 500;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    > :nth-child(odd) {
      font-size: 1.1em;
      font-weight: 600;
    }

    // > :nth-child(1), > :nth-child(2) {
    > :nth-child(-n+2) {
      color: $app-blue;
    }

    .icon {
      transform: scale(1.2);
    }
  }
}
