@use "./constants" as *;


.termsession {
  &-outer {
    height: 100%;

    margin-right: $border-gap;
    padding: 1rem;

    background-color: #003847;
    border-radius: 12px;

    overflow: hidden;
  }

  &-inner {
    height: 100%;

    .xterm {
      display: flex;
      height: 100%;
    }

    .xterm-screen, .xterm-viewport {
      margin: auto auto auto 0;
    }
  }
}
