@use "./constants" as *;
@use "./protocol-overview" as proto;


.vedit {
  &-root {
    margin: 1rem 2rem;
    max-width: 500px;
  }

  &-stage {
    &-header { @extend .protoview-stage-header; }
    &-name { @extend .protoview-stage-name; }

    &-steps {
      display: flex;
      flex-direction: column;
      row-gap: proto.$step-gap;

      margin-bottom: 1.4rem;
    }
  }

  &-step {
    &-item {
      padding: 1.4rem 1.8rem;

      background-color: proto.$step-background;
      border: 1px solid transparent;
      border-radius: proto.$step-radius;

      &._context {
        border-color: $app-blue;
      }
    }

    &-header {
      @extend .protoview-step-header;
      grid-template-columns: 3rem 1fr;
    }

    &-time { @extend .protoview-step-time; }
    &-name { @extend .protoview-step-name; }
  }

  &-segment {
    &-list {
      display: grid;

      margin-bottom: 0;
      margin-top: 0.8rem;
      margin-left: 3rem;
    }

    &-dropzone {
      display: grid;
      align-items: center;
      column-gap: 1rem;
      grid-template-columns: 1fr;

      height: 2rem;
      margin: -0.4rem 0;
      // background-color: #f003;

      color: $app-blue;
      font-weight: 500;

      > :first-child { border-radius: 4px 0 0 4px; }
      > :last-child { border-radius: 0 4px 4px 0; }

      > :nth-child(2) {
        display: flex;
        column-gap: 0.4rem;
      }

      > :not(:nth-child(2)) {
        height: 1px;
        background-color: proto.$segment-border;
      }

      &._over, &:not(:hover) {
        > :nth-child(n+2) {
          display: none;
        }
      }

      &._over, &:hover {
        > :not(:nth-child(2)) {
          height: 2px;
          background-color: currentColor;
        }
      }

      &:hover {
        grid-template-columns: 1fr auto 1fr;
      }

      &:not(._over):not(:hover):is(:first-child, :last-child) > * {
        display: none;
      }

      // &:not(:hover) {
      //   > :first-child {
      //     height: 1px;
      //     background-color: proto.$segment-border;
      //   }

      //   > :nth-child(n+2) {
      //     display: none;
      //   }

      //   &:is(:first-child, :last-child) > * {
      //     // display: none;
      //   }
      // }

      // &:hover {
      //   grid-template-columns: 1fr auto 1fr;

      //   > :not(:nth-child(2)) {
      //     height: 2px;
      //     background-color: currentColor;
      //   }

      //   > :nth-child(2) {
      //     display: flex;
      //     column-gap: 0.4rem;
      //   }
      // }
    }

    // &-dropzone {
    //   padding: 0.6rem 0;

    //   &:not(:hover) > * {
    //     height: 1px;
    //     margin-bottom: 1px;

    //     background-color: proto.$segment-border;
    //   }

    //   &:hover > * {
    //     height: 2px;
    //     background-color: $app-blue;
    //   }
    // }

    &-features {
      // @extend .protoview-segment-features;
      @extend %features;

      border-radius: proto.$segment-radius;

      &:hover {
        background-color: #f3f3f3;
        border-color: proto.$segment-border;
      }

      &._context {
        background-color: lighten($app-blue, 55%);
        border-color: $app-blue;
        box-shadow: -1px 1px 6px #0001;
      }

      &._selected {
        background-color: lighten($app-blue, 55%);
        border-color: $app-blue;
      }
    }
  }
}
