@use "./constants" as *;

@use "./common/buttons";
@use "./common/header";
@use "./common/mixins";
@use "./common/misc";
@use "./components/barnav";
@use "./components/chip-list";
@use "./components/context-menu";
@use "./components/error-boundary";
@use "./components/progress-bar";
@use "./components/protocol-config";
@use "./components/protocol-overview";
@use "./components/protocol-status";
@use "./components/protocol-timeline";
@use "./components/selector";
@use "./components/standard-form";
@use "./components/text-editor";
@use "./components/unit-settings";
@use "./components/visual-editor";
@use "./mcontrol";
@use "./reset";
// @use "./sidebar";
@use "./startup";
@use "./views/protocols";


html {
  block-size: 100%;

  font-size: 14px;
  line-height: $line-height;
}

body {
  block-size: 100%;

  font-family: $main-font;
}

#root {
  height: 100%;
}
