@use "./constants" as *;

@use "./card";
@use "./common/buttons";
@use "./common/header";
@use "./common/inputs";
@use "./common/misc";
@use "./components/barnav";
@use "./components/context-menu";
@use "./components/diagram";
@use "./components/error-boundary";
@use "./components/graph-editor";
@use "./components/progress-bar";
@use "./components/protocol-config";
@use "./components/protocol-overview";
@use "./components/protocol-status";
@use "./components/protocol-timeline";
@use "./components/standard-form";
@use "./components/text-editor";
@use "./components/unit-settings";
@use "./components/visual-editor";
@use "./mcontrol";
@use "./reset";
@use "./sidebar";
@use "./startup";
@use "./terminal-session";
@use "./views/protocols";


html {
  block-size: 100%;

  font-size: 14px;
  line-height: $line-height;
}

body {
  block-size: 100%;

  font-family: $main-font;
}


#root {
  height: 100%;
}

.app {
  display: grid;
  column-gap: $border-gap;
  grid-template-columns: 280px 1fr;
  padding: $border-gap 0 $border-gap $border-gap;

  height: 100%;
}

main {
  padding: 0.4rem 3rem;
  overflow-y: auto;

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }
}
