@use "pr1/styles/constants" as *;
@use "pr1/styles/mixins" as *;


.root {
  display: grid;
  grid-template-columns: minmax(min-content, 500px) minmax(min-content, 1fr);

  height: 100%;
  overflow-y: hidden;
}

.list {
  height: 100%;
  overflow-y: hidden;

  border-right: 1px solid #ddd;
}

.detail {
  &Root {
    overflow-y: auto;
    padding: 2rem 3rem;
  }

  &Contents {
    margin: 0 auto;
    max-width: 1000px;
  }

  &Header {
    &Root {
      display: grid;
      grid-template-columns: 1fr auto;

      margin-bottom: 2rem;
    }

    &Title {

    }

    &Label {

    }

    &Description {
      color: #666;
      font-size: 1.2rem;
    }

    &Actions {
      display: flex;
      align-self: center;
      column-gap: 0.4rem;
    }
  }

  &Connection {
    &Root {

    }

    &Status {
      display: flex;
      align-items: center;
      column-gap: 0.4rem;

      color: $app-red;
      font-weight: 500;
    }

    &Message {

    }
  }

  &Chart {
    &Root {
      display: flex;
      flex-direction: column;
      row-gap: 0.6rem;

      margin: 2rem 0;
    }

    &Toolbar {
      display: flex;
      column-gap: 2rem;
      justify-content: end;

      margin: 0 2rem;
      color: #666;
    }

    &Container {
      height: 400px;
      background-color: #fafafa;
      border-radius: 6px;
    }

    &Placeholder {
      display: flex;
      height: 100%;

      p {
        margin: auto;

        color: #666;
        font-weight: 500;
      }
    }

    &Contents {
      height: 100%;
      padding-left: 1rem;
    }
  }

  &Info {
    &Root {
      display: grid;
      grid-auto-columns: 220px;
      grid-auto-flow: column;

      margin: 1rem 0;
    }

    &Entry {

    }

    &Label {
      color: #666;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &Values {
    display: grid;
    column-gap: 1rem;
    grid-auto-columns: 200px;
    grid-auto-flow: column;

    margin: 2rem 0;
  }

  &Value {
    &Root {
      // padding: 2rem;
      // background-color: #fafafa;
      // border-radius: 8px;
    }

    &Label {
      margin-bottom: 0.2rem;
    }

    &Quantity {
      display: grid;
      // align-items: baseline;
      grid-template-columns: auto minmax(0, 1fr);
    }

    &Magnitude {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    &Background, &Magnitude {
      padding: 0.2rem 0.4rem;

      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2;
    }

    &Quantity:not(:has(input)) &Magnitude {
      font-variant-numeric: tabular-nums;
    }

    &Background {
      grid-column: 1;
      grid-row: 1;

      overflow: hidden;
      min-width: 1ch;

      background-color: #f6f6f6;
      border-radius: 4px;

      color: transparent;
      white-space: nowrap;

      pointer-events: none;
      user-select: none;
    }

    &Quantity:global(._active) &Background, &Quantity:has(&Magnitude:hover) &Background {
      background-color: #eee;
    }

    &Right {
      align-self: end;
      grid-column: 2;
      grid-row: 1;

      padding-left: 0.6rem;
      padding-bottom: 0.4rem;
    }

    &Unit {
      color: #666;
    }

    &UnitSelect {
      &Root {
        width: fit-content;
      }

      &Selection {
        display: flex;
        align-items: center;
        min-height: 20px;
        // column-gap: 0.5ch;
      }

      &Icon {
        @include icon($size: 20px);
        color: #666;
      }
    }

    &Error {
      margin: 0.4rem 0;

      color: $app-red;
      font-size: 0.9rem;
    }

    &Actions {
      display: flex;
      column-gap: 0.4rem;

      margin-top: 0.6rem;
    }
  }
}
