@use "../constants" as *;


.btn {
  display: flex;
  align-items: center;
  column-gap: $icon-gap;

  width: auto;
  height: 2.4rem;

  padding: 0 1rem;
  border-radius: 4px;

  color: $app-blue;
  font-weight: 500;

  &:hover {
    background-color: lighten($app-blue, 55%);
  }

  .btn-icon {
    display: flex;
    width: $icon-size;

    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
  }
}
