@use "../constants" as *;


.btn {
  display: flex;
  align-items: center;
  column-gap: $icon-gap;

  width: auto;
  height: 2.6rem;

  padding: 0 1.4rem;
  border-radius: 5px;

  background-color: #222;
  background-image: linear-gradient(transparent, #fff1);

  color: #fff;
  font-weight: 500;

  transition: background-color $dur-short, box-shadow $dur-short;

  &:hover {
    background-color: #111;
    box-shadow: 2px 2px 6px #0003;
  }

  .btn-icon {
    display: flex;
    width: $icon-size;

    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
  }
}


.actions {
  display: flex;
  column-gap: 0.4rem;
}
