@use "../constants" as *;


@mixin card() {
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(#000, 2%);

  --card-transitions: border-color #{$dur-short}, box-shadow #{$dur-short};
  transition: var(--card-transitions);

  &:focus-visible, &._context {
    outline: 2px solid #000;
    outline-offset: 3px;
  }

  &:disabled {
    border-color: #eaeaea;
    box-shadow: none;

    color: #666;
  }

  &:hover, &._context {
    border-color: #ccc;
    box-shadow: 2px 2px 6px rgba(#000, 6%);
  }
}
