@use "pr1/styles/constants" as *;
@use "pr1/styles/mixins" as *;


.root {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);

  height: 100%;
}


.search {
  border-bottom: 1px solid #ddd;

  input {
    height: 4rem;
    padding: 0 1.4rem;

    &::placeholder {
      color: #999;
    }
  }
}


.contents {
  &Container {
    --shadow-color: #0001;
    --shadow-size: 20px;
  }

  &Root {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    height: 100%;
    overflow-y: auto;
    padding: 2rem;
  }
}


.group {
  &Root {

  }

  &Header {
    margin-bottom: 0.8rem;

    font-size: 1.2rem;
    font-weight: 600;
  }

  &List {

  }
}


.entry {
  &Root {
    display: flex;
    height: 40px;

    border-radius: 4px;
  }

  &Collapse {
    display: flex;
    aspect-ratio: 1;
    width: auto;

    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
      border-color: #eee;
    }
  }

  &Chevron {
    @include icon();
    margin: auto;
  }

  &Button {
    display: grid;
    align-items: center;
    column-gap: 0.6rem;
    grid-template-columns: auto 1fr auto;

    padding: 0 0.6rem;
  }

  &Body {
    line-height: 1.2;
  }

  &Icon {
    @include icon($weight: 100);
  }

  &Sublabel {
    color: #666;
    font-size: 0.85em;
  }

  &ErrorIcon {
    color: $app-red;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 24;
  }
}


.collection {
  &Root {
  }

  &List {
    margin: 0.2rem 0 0.2rem $icon-size;
  }
}

.collectionList {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.collectionRoot:not(:global(._open)) > .collectionList {
  display: none;
}

.collectionRoot:global(._open) > .entryRoot .entryChevron {
  rotate: 90deg;
}

:is(:not(.collectionRoot), .collectionRoot:not(:has(.entryCollapse:hover))) > .entryRoot:is(:hover, :global(._selected)) {
  outline: 1px solid #eee;
  outline-offset: -1px;
}

.entryRoot:global(._selected) {
  .entryIcon {
    @include icon();
  }

  .entryLabel {
    font-weight: 600;
  }
}
