@use "pr1/styles/constants" as *;
@use "pr1/styles/mixins" as *;


.root {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);

  height: 100%;
}


.search {
  border-bottom: 1px solid #ddd;

  input {
    height: 4rem;
    padding: 0 1.4rem;

    &::placeholder {
      color: #999;
    }
  }
}


.contents {
  &Container {
    --shadow-color: #0001;
    --shadow-size: 20px;
  }

  &Root {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    height: 100%;
    overflow-y: auto;
    padding: 2rem;
  }
}


.group {
  &Root {

  }

  &Header {
    margin-bottom: 0.8rem;

    font-size: 1.2rem;
    font-weight: 600;
  }

  &List {

  }
}


.entry {
  &Root {
    display: grid;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: 1fr $icon-size;
  }

  &Button {
    display: grid;
    align-items: center;
    column-gap: 0.6rem;
    grid-template-columns: auto 1fr auto;

    height: 40px;
    padding: 0 0.6rem;
    border: 1px solid transparent;
    border-radius: 4px;
  }

/* &Connection {
    width: 1ch;
    aspect-ratio: 1;

    background-color: $app-green;
    border-radius: 50%;
  } */

  &Body {
    line-height: 1.2;
  }

  &Icon {
    font-variation-settings:
      'FILL' 0,
      'wght' 100,
      'GRAD' 200,
      'opsz' 24;
  }

  &Label {
    // font-weight: 500;

    // &::after {
    //   content: " â—";
    //   color: #0074d9;
    // }
  }

  &Sublabel {
    color: #666;
    font-size: 0.85em;
  }

  &ErrorIcon {
    color: $app-red;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 24;
  }

  &Button:global(._selected) {
    // background-color: #fafafa;
    border: 1px solid #eee;
  }

  &Button:global(._selected) &Icon {
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 24;
  }

  &Button:global(._selected) &Label {
    font-weight: 600;
  }
}


.collection {
  &Root {
  }

  &List {
    margin: 0.2rem 0 0.2rem $icon-size;
  }
}

.collectionList {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.collectionRoot:not(:global(._open)) > .collectionList {
  display: none;
}

.collectionRoot:global(._open) > .entryRoot .entryIcon {
  rotate: 90deg;
}


.collectionRoot:global(._open) > .entryButton, .entryButton:not(:global(._selected)):hover {
  // background-color: #fafafa;
  border-color: #0001;
}
