@use "../common/mixins" as common;
@use "../constants" as *;


.lproto {
  &-container {
    max-width: 600px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  &-entry {
    @include common.card();

    display: grid;
    gap: 0.4rem 2rem;
    grid-template: auto auto / 1fr auto;

    padding: 1rem 1.4rem;

    @at-root :not(button)#{&} {
      cursor: default;
    }
  }

  &-label {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &-property {
    &-list {
      display: flex;
      column-gap: 1.6rem;

      grid-row: 2;
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: $icon-gap;

      color: #666;
    }
  }

  &-action {
    display: flex;
    align-self: start;

    grid-column: 2;
    grid-row: 1 / -1;

    transition: opacity $dur-short, transform $dur-short;
  }

  &-entry:not(:focus-visible, :hover) &-action {
    opacity: 0;
    transform: translateX(-60%);
  }

  &-entry._context &-action {
    transition: none;
  }
}
